<h1 class="sidebar"><a class="sidebar" href="{{ "/" | relURL }}">{{ .Site.Title }}</a></h1>
<h1 style="font-size:18px; font-style:italic;">{{ .Site.Params.title }} <br/>
{{ .Site.Params.institution }}</h1>
<hr/>

{{ $.Scratch.Set "currentPageTitle" .Title }}

{{ range .Site.Menus.main }}
	
<p class="sidebar"><a class="sidebar" href="{{ .URL | relURL }}">{{- .Name -}}</a></p>
	
	{{ if and (eq "Research" ($.Scratch.Get "currentPageTitle")) (eq "Research" .Title) }}
	<p class="sidebar" style="margin-left:2vw;"><a class="sidebar" href="{{ "research/#WorksInProgress" | relURL }}">Works in Progress</a></p> 
	<!-- <p class="sidebar" style="margin-left:2vw;"><a class="sidebar" href="{{ "research/#WorkingPapers" | relURL }}">Working Papers</a></p>-->
	<p class="sidebar" style="margin-left:2vw;"><a class="sidebar" href="{{ "research/#Publications" | relURL }}">Publications</a></p> 
	<!--	<p class="sidebar" style="margin-left:2vw;"><a class="sidebar" href="{{ "research/#PublicationsinFrench" | relURL }}">Publications in French</a></p> -->
<!--	-->
	{{end}}
{{end}}

<p class="sidebar">
<img src="{{ "/icons/mail.png" | relURL }}" class="octicons">
<a class="sidebar" href="mailto:{{ .Site.Params.Email }}" target="_blank">
{{ .Site.Params.Email }}
</a></p>
<p class="sidebar">
	<a class="sidebar" href="https://twitter.com/{{ .Site.Params.Twitter }}" target="_blank">
	<img src="{{ "/icons/twitter.png" | relURL }}" class="octicons">
	<a class="sidebar" href="https://linkedin.com/in/{{ .Site.Params.Linkedin }}" target="_blank">
	<img src="{{ "/icons/linkedin.png" | relURL }}" class="octicons">
</a></p>


{{ with .Site.Params.logo }}
{{ if (eq "Homepage" ($.Scratch.Get "currentPageTitle")) }}
<img src="{{ . | relURL }}" alt="Logo" style="padding-bottom: 3em;"/>
{{ else }}
<img class="nothomepage" src="{{ . | relURL }}" alt="Logo" style="padding-bottom: 3em;"/>
{{ end }}
{{ end }}